.navBar {
  background-color: rgba(65, 65, 65, 0.666);
  height: 100px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  border: 1px solid green;
  padding: 15px;
  
}
nav {
  display: flex;
  flex-direction: row;
}
a {
  display: flex;
  background-color:rgba(93, 93, 93, 0.666);
  height: 70px;
  width: 200px;
  margin: 10px;
  justify-content: center;
  align-items: center;
}
main {
  padding: 10px;
  align-items: center;
}

.heroImage {
  display: flex;
  min-width: 0;
  margin: 15px;
 
  justify-content: center;
  flex-direction: column;
}
.subBanner {
  display: flex;
  min-width: 0;
  margin-top: 1rem;
  /* width: 100%; */
  flex-direction: row;
  /* margin: 15px; */
  justify-content: space-between;
}

img {
  /* min-width: 0;
  border: 1px solid green; */

  /* flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto; */
}
.featuredSection {
  display: flex;
  /* width: 100%; */
  margin-top: 1rem;
  flex-direction: row;
  justify-content: space-between;
}

.featuredSectionText {
  min-width: 0;
  width: 480px;
  height: 400px;
  border: 1px solid red;
  padding-left: 20px;
  overflow: auto;
  scrollbar-base-color: gray;
  padding: 5px;
  font-family: sans-serif, Arial, Helvetica;
  font-size: 18px;
}

.button {
  /* position: absolute; */
  background-color: black;
  color: white;
  padding: 5px;
  margin: 5px;
  width: auto;
}
.button:hover {
  background-color: rgb(68, 68, 68);
  transition: 0.5s;
}

footer {
  border: 1px solid black;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.451);
}
